# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
number=6
print(number)

6

##### Assinging float

In [3]:
numberfloat = 2.3
print(numberfloat)
numberfloat=7.2
print(numberfloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [5]:
num1= 2
num2=5.4

result = num1 + num2
print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [9]:
result_diff = num2 - num1
num3 = 7

result_diff -= 1
print(result_diff - 1)

1.4000000000000004

##### Multiplication

In [10]:
resultmul = num1 * num2
print (resultmul)

result_mul *= 2
print(resultmul)

10.8
10.8

##### Division

In [14]:
result_div = num2 / num1
print(result_div)

resultdiv /= 3
print(result_div)

2.7
2.7

##### Floor Division

In [16]:
result_floor = num2 // num1
print (result_floor)

result_floor //= 2 
print(result_floor)

2.0
1.0

##### Modulo

In [18]:
result_mod=num2 + num1 
print(result_mod)

result_mod %=2
print(result_mod)

7.4
1.4000000000000004

##### Exponential

In [2]:
square = 5 **2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [7]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [10]:
print("this is my first name", name)

print("full name:", name, end = " apol")

this is my first name Brandon
full name: Brandon apol

##### String Concatenation

In [18]:
first_name = "John"
last_name= "smith"

full_name = first_name + " " + last_name
print(full_name)
full_name += " , jr"
print(full_name)

John smith
John smith , jr

##### Type Conversion

In [1]:
number = "32"

change_type_num = int(number)
print(number)
print( change_type_num)

32
32

##### input()

In [2]:
#input will always return a string

##### format()

In [5]:
age = input("what is your age? ")

result_string = " You are {}  {}  and you are getting wiser! " .format(age, name)
print(result_string)

NameError: name 'name' is not defined

##### Old Way (python 2)

1

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [6]:
name = input( "What is your name?" )
color = input( " what color is your car? " )
year = input (" what year is your car? ")
model = input( " what model is your car? ")
results = f"{name}, your {year} {model}'s color is {color} . "
print(results)

matt, your 2010 mazda's color is black .

### If Statements

In [10]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 4
if num1 == 6:
    print ("This is true")

else:
    print("That was not true!")

if num2 > num1:
    print ("num2 is greater")
elif num1>num2:
    print ("num1 is greater")
else:
    print("equal values")

That was not true!
num1 is greater

##### 'is' keyword

In [11]:
# the "is" keyword is for checking the same object but not the same value

num3 =55

if num3 is 55:
    print("Th")

Th

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Matth\AppData\Local\Temp\ipykernel_16240\1804818848.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [14]:
#check if a character is in a string 

char_name = "frodo baggins"

if  "samwise" in char_name:
    print( true)

else: 
    print("not true")

not true

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [16]:
name = input(" what is your name? ")

if "p" in name:
    print("yes")

else: 
    print("no")

no

## Using 'and'/'or' with If Statements

In [1]:
num_11 = 15
num_12 = 3
num_13 =10
num_14 =3

# if with "and" statement

if num_11 / 5 == num_12 and num_13 -7 == num_14:
    print("ture and true")

#if with "or" statement

if num_11 > num_12 and num_13 == num_14:
    print ("ture and false")

ture and true

### Elif Statements

In [2]:
first_name = input("what is your name?")

if first_name == "smith" :
    print('the name is smith')

elif first_name == 'brandon':
    print('the name is brandon')

elif first_name != 'max':
    print('the name is not max')

else:
    print('the name is max')

the name is brandon

### Else Statements

In [ ]:
# see above

### For Loops

In [3]:
#syntax:
# for counter in condition

name = 'brandon apol'

for letter in name:
    print(letter)

b
r
a
n
d
o
n

a
p
o
l

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [5]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [6]:
for i in range(20):
    if i == 5:
        break
    print (i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [7]:
for i in name:
    pass

##### Double For Loops

In [23]:
for i in range(5):
    for j in range(5):
        print('i =', i ,'j=', j)

i = 0 j= 0
i = 0 j= 1
i = 0 j= 2
i = 0 j= 3
i = 0 j= 4
i = 1 j= 0
i = 1 j= 1
i = 1 j= 2
i = 1 j= 3
i = 1 j= 4
i = 2 j= 0
i = 2 j= 1
i = 2 j= 2
i = 2 j= 3
i = 2 j= 4
i = 3 j= 0
i = 3 j= 1
i = 3 j= 2
i = 3 j= 3
i = 3 j= 4
i = 4 j= 0
i = 4 j= 1
i = 4 j= 2
i = 4 j= 3
i = 4 j= 4

### While Loops

In [8]:
#syntax:
# while keyword, condition statement

num = 0 

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [10]:
game_over = True

while game_over:
    print('infinite loop')
    user_input = input('would you like to stop?')
    if user_input=='yes':
        game_over= False

infinite loop

##### While & For Loops Used Together

In [13]:
num = 0

while num <5 :
    print ('\n while loop iteration:' + str(num))
    
    for i in rane(2):
        print ('for loop iteration: ', str(i+1))
    num +=1

 while loop iteration:0

NameError: name 'rane' is not defined

### Built-In Functions

##### range()

In [ ]:
#range(Start , Stop, Step)

for i in range(2,20):
    print(i)

##### len()

In [1]:
name = "max"
length = len(name)
print(length)

3

##### help()

In [5]:
#use this function to view more info about a python function

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [7]:
# check a variable  to find out what object family (or data type) it belongs to
# isinstance(v.5ar,type)

num= 4
if isinstance(num,int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")

4 is an int

##### abs()

In [8]:
# absolute value

print(abs(-5))

5

### Try and Except

In [11]:
# use this to log out graceful and useful error messages
# does not stop the program

try:
   
    input_num=(input('guess a number'))

    if input_num != input_num + number_test:
        input_num = input_num + number_test
        print('your number is : ' + str(input_num))


except:
    print('That didnt work , change your input to a number')

That didnt work , change your input to a number

### Lists

##### Declaring Lists

In [12]:
list_1 = [] 

names = ['max','cindy','bob','nate']
print(names)

['max', 'cindy', 'bob', 'nate']

##### Indexing a List

In [25]:
#L List Name[start: stop: step]

# single_index
print (names[3])

# print starting at index 1 going to the end
print(names[1:])

# print starting at the beginning of a list up until a number
print(names[:2])

#print starting at inddx 1 and going up BY 2 in each iteration
print(names[1::2])

# print starting at the back and display in reverse order
print(names[::-1])

nate
['cindy', 'bob', 'nate']
['max', 'cindy']
['cindy', 'nate']
['nate', 'bob', 'cindy', 'max']

##### .append()

In [27]:
names.append('brandon')
print(names)

['max', 'cindy', 'bob', 'nate', 'brandon', 'brandon']

##### .insert()

In [28]:
names.insert(3,'devon')
print(names)

['max', 'cindy', 'bob', 'devon', 'nate', 'brandon', 'brandon']

##### .pop()

In [29]:
# defaults to the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)

print(my_name)
print(names)

bob
['max', 'cindy', 'devon', 'nate', 'brandon', 'brandon']


##### .remove()

In [30]:
# value to be removed rather than index
# names.remove('bob')
 # print(names)

# remove multiple brandons from list
while 'brandon' in names:
    names.remove('brandon')
print(names)

['max', 'cindy', 'devon', 'nate']

##### del()

In [33]:
# goes by index, rather than value
# be careful with del, it an cause indexing errors if not used carefully

del(names[1])
print(names)

['max', 'devon', 'nate']

##### Concatenating Two Lists

In [34]:
# will append two lists together, will NOT add the values!

list_2 =[0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# lists can hold ANY type of other elements! including other lists!
# they can go as deep as you want; this is called nested lists

names = ['max','sam', 'josh', ['Sally', ['sue','jim']'tameka']]

print(names)
print(names[3][1][1])

##### Looping Through Lists

In [40]:
# two ways to loop through a list is by index; the other is by using the 'in keyword

# by index

for i in range(len(names)):
    print(names[i])


#loop with 'in'

for i in names:
    print(i)

max
devon
nate
max
devon
nate

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [20]:

num = 1

while True:
    cube = pow(num, 3)
    if cube > 1000:
        break
    print(cube)
    num += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [19]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

prime = []

for num in range(2, 101):
    prime_num = True
    for divisor in range(2, int(pow(num, 0.5))+ 1):
        if num % divisor == 0:
            prime_num = False
            break
    if prime_num:
        prime.append(num)

print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [2]:
user= int(input('What is your age?'))

if user < 18:
    print("Kids")
elif 18 <= user <= 65:
    print("Adults")
else:
    print("Seniors")

Seniors